<% provide(:title, "home")%>
<%provide(:h1, "home#{@test1}")%>
<p>
<% if @test2=="なんぞ"%>
<%= @test1%>
<%else%>
<%= @test2%>
<%end%>
<br>
  This is the homepage for
    <a href="http://railstutorial.org/">Ruby on rails Tutorial</a>
  sample application</p>
